body{
	margin: 0px;
	font-family: sans-serif,"HG明朝E",Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho",serif;
}
div#wrapper{
	width: 100%;
}
img{
	width: 100%;
}
.dn{
	display: none;
}
.db{
	display: block;
}
.db dn_s{
	margin-left: 10%;
}
.df{
	width: 100%;
	position: fixed;
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	background: rgba(255,255,255,0.8);
	
}
.gnf{
	width: 80%;
}
.logo{
	width:60%;
	margin-top: 3%;
	margin-left: 10%;
}
/*.firstview_img{
	margin-left: 10%;
}*/
.top_dis{
	width: 60%;
	position: absolute;
	top: 25%;
	left: 0%;
}
.top_dis2{
	width: 100%;
}
.yajirushi{
	width: 100%;
	background: #82cbd0;
}
.header_fix{
	justify-content: space-between;
	display: flex;
	position: fixed;
	width: 100%;
	background: #000000;
}
.mv{
	position: relative;
}
.sokusen{
	background: #82cbd0;
	padding-top: 1.5%;
	padding-bottom: 9%;
	
}
.sokusen_title{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
.sokusen_contents{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.sokusen_dis{
	width: 65%;
	float: left;
}
.sokusen_dis1{
	
}
.sokusen_dis2{
	padding-left: 2%;
}
.sokusen_img{
	width: 35%;
}
.sokusen_footer{
	clear: both;
}
.cv{
	position: relative;
	margin-top: 12%;
}
.cv_cur{
	position: absolute;
	top: 36%;
	left: 30%;
	width: 40%;
}
.cv_oto{
	position: absolute;
	top: 65%;
	left: 30%;
	width: 40%;
}
.w95{
	width: 95%;
}
.w80{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.w70{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.w60{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.w40{
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}
.w13{
	width: 13%;
	margin-right: auto;
	margin-left: auto;
}
.tb{
	position: absolute;
	width: 17%;
	top: 57%;
	left: 40%;
	opacity: 0.7;
}
.mt4_2{
	margin-top: 4.2%;
}
.mt16_2{
	margin-top: 16.2%;
}
.mt12{
	margin-top: 12%
}
.mt9{
	margin-top: 9%;
}
.mt8{
	margin-top: 8%;
}
.mt6{
	margin-top: 6%;
}
.mt5{
	margin-top: 5%;
}
.mt3{
	margin-top: 3%;
}
.mt2{
	margin-top: 2%;
}
.mb12{
	margin-bottom: 12%;
}
.mb3{
	margin-bottom: 3%;
}
.mt05{
	margin-top: -5px;
}
.ml7{
	margin-left: 7%;
}
div#contents{
	width: 70%;
	margin: 0 auto;
}
div#ham{
	display: none;
}
ul#globalnav{
	width: 100%;
	padding: 0px;
	font-size: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin-top: 4%;
	margin-left: 12%;
}
ul#globalnav li{
	list-style: none;
	margin-left: 4%;
}
ul#globalnav li a{
	text-decoration: none;
	color: #000000;
}
div#footer{
	background-color: #39aad1;
	font-family: "Meiryo UI";
	color: #ffffff;
	padding: 1% 3% 6% 3%;
	margin-top: 12%;
}
ul#footter-gn1{
	width: 70%;
	padding: 0px;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 0px;
	font-size: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	float: left;
}
ul#footter-gn1 li{
	list-style: none;
	margin-left: 7%;
}
ul#footter-gn1 li a{
	text-decoration: none;
	color: #ffffff;
}
ul#footter-gn2{
	width: 70%;
	padding: 0px;
	margin-top: 1%;
	margin-bottom: 0px;
	margin-left: 1%;
	font-size: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	float: left;
}
ul#footter-gn2 li{
	list-style: none;
	margin-left: 7%;
}
ul#footter-gn2 li a{
	text-decoration: none;
	color: #ffffff;
}
.fl{
	float: left;
	margin-top: 0.5%;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.ml3{
	margin-left: 3%;
}
.fs25{
	font-size: 25px;
}
.fs20{
	font-size: 20px;
}
.fs15{
	font-size: 15px;
}
.mtb0{
	margin-top: 0%;
	margin-bottom: 0%;
}
.center{
	text-align: center;
}
hr{
	border-top: 1px solid #e0e0e0;
}
.td a{
	text-decoration: none;
	color: #FFFFFF;
}
#wrapper .flow{
	padding: 0 10%;
	background-color: #f2f2f2;
	width: 80%;
}
.pt3{
	padding-top: 3%;
}

.josei{
	font-size: 20px;
	margin-left: 7%;
}


/*izumiya*/
h2.tokutyo_online{
	text-align: center;
	margin-right: auto;
    margin-left: auto;
    font-size: 30px;
	color: #50a4c2;

}
p.tokutyo_online{
	font-size: 20px;
	margin-bottom: 10%;
}
img.tokutyo_online{
	width: 80%;
	margin-left: 11%;
}

h2.tokutyo_jissen{
	text-align: center;
	margin-right: auto;
    margin-left: auto;
    font-size: 30px;
	color: #00a249;

}
p.tokutyo_jissen{
	font-size: 20px;
	margin-bottom: 10%;
}
img.tokutyo_jissen{
	width: 80%;
	margin-left: 11%;
}
h2.tokutyo_seika{
	text-align: left;
	margin-right: auto;
    margin-left: auto;
    font-size: 30px;
	color: #fc8205;

}
p.tokutyo_seika{
	font-size: 20px;
	margin-bottom: 10%;
}
img.tokutyo_seika{
	width: 80%;
	margin-left: 11%;
}
h2.tokutyo_mogi{
	text-align: left;
	margin-right: auto;
    margin-left: auto;
    font-size: 30px;
	color: #fe9b9b;

}
p.tokutyo_mogi{
	font-size: 20px;
	margin-bottom: 10%;
}
img.tokutyo_mogi{
	width: 80%;
	margin-left: 11%;
}

h2.shutoku_discription{
	margin-bottom: 3%;
	text-align: center;
	letter-spacing: 30px;
    font-size: 30px;
	color:  #444444;
}
span.shutoku_discription{
	width: 40%;
	margin-left: 28%;
	border-bottom: 3px solid #50a4c2;
	margin-bottom: 10%;

}
span.shutoku_discription_kadai{
	width: 67%;
	margin-left: 12%;
	border-bottom: 3px solid #50a4c2;
	margin-bottom: 10%;

}
p.shutoku_discription{
	margin-bottom: 10%;
	margin-top: 5%;
    font-size: 20px;
}
img.voice{
	width:  60%;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 5%;
}
h2.voice{
	text-align: center;
	margin-bottom: 5%;
}
p.voice{
	margin-bottom: 3%;
}
p.voice_third_line{
	margin-bottom: 10%;
}
a.voice_marker{
	background: linear-gradient(transparent 60%, #66ccff 60%);
}
img.four_skill{
	width: 100%;
}
@media only screen and (max-width: 1200px){

ul#globalnav{
	font-size: 13px;
}

ul#footter-gn1{
	font-size: 13px;
}
ul#footter-gn2{
	font-size: 13px;
}

}

@media only screen and (max-width: 1035px){

ul#footter-gn1{
	width: 100%;
	margin-left: 0px;
	margin-top: 3%;
	font-size: 14px;
}
ul#footter-gn2{
	width: 100%;
	margin-left: 0px;
	font-size: 14px;
}
ul#footter-gn1 li{
	margin-left: 0px;
	margin-right: 7%;
}
ul#footter-gn2 li{
	margin-left: 0px;
	margin-right: 7%;
}
}

@media only screen and (max-width: 1024px){


ul#globalnav{
	display: none;
}
div#ham{
	display: block;
}
.btn {
    display: block;
    width:13%;
    height: 13%;
    position: fixed;
    top:0;
    right:0;
    cursor: pointer;
    z-index: 200;
}
.peke {
    background-position: -35px 0;
}
.drawr {
    display: none;
    background-color:#FFFFFF;
    position: fixed;
    top: 0px;
    right:0;
    width:260px;
    height: 100%;
    padding: 50px 0 20px 0px;
    z-index: 100;
}
#menu li {
	list-style: none;
    width:260px;
}
#menu li a {
    color:#000000;
    display: block;
    padding: 10px;
    text-decoration: none;
}
.josei{
	margin-left: 0%;
}

}

@media only screen and (max-width: 791px){

ul#footter-gn1{
	display: block;
	font-size: 18px;
}
ul#footter-gn2{
	display: block;
	font-size: 18px;
}
ul#footter-gn1 li{
	margin-top: 3%;
}
ul#footter-gn2 li{
	margin-top: 3%;
}
.fs25{
	font-size: 20px;
}
.fs15{
	font-size: 10px;
}
.josei{
	font-size: 15px;
}
}


@media only screen and (max-width: 479px){
.dn_s{
	display: none;
}
.db_s{
	display: block;
}

.top_dis{
	width: 85%;
	top: 36%;
}
div#contents{
	width: 80%;
}
.sokusen_contents{
	width: 90%;
}
.sokusen{
	padding-bottom: 12%;
}
.yajirushi_sp{
	background-color: unset;
}
.cv_cur{
	width: 70%;
	left: 15%;
	top: 30%;
}
.cv_oto{
	width: 70%;
	left: 15%;
}
.kadai_sp{
	width: 65%;
}
.josei{
	font-size: 10px;
}
}