body{
	margin: 0px;
	font-family: sans-serif,"HG明朝E",Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho",serif;
}
div#wrapper{
	width: 100%;
}
img{
	width: 100%;
}
.logo{
	width: 27%;
	position: absolute;
	top: 2%;
	left: 3%;
}
.top_dis{
	width: 42%;
	position: absolute;
	top: 25%;
	left: 28%;
}
.header_fix{
	justify-content: space-between;
	display: flex;
	position: fixed;
	width: 100%;
	background: #000000;
}
.mv{
	position: relative;
}
.tb{
	position: absolute;
	width: 17%;
	top: 57%;
	left: 40%;
	opacity: 0.7;
}
.mt12{
	margin-top: 12%
}
.mb12{
	margin-bottom: 12%;
}
.mt05{
	margin-top: -5px;
}
.ml7{
	margin-left: 7%;
}
div#contents{
	width: 70%;
	margin: 0 14%;
}
div#ham{
	display: none;
}
ul#globalnav{
	width: 60%;
	padding: 0px;
	font-size: 1.2vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	position: absolute;
	top: 5%;
	left: 40%;
}
ul#globalnav li{
	list-style: none;
	margin-left: 4%;
}
ul#globalnav li a{
	text-decoration: none;
	color: #ffffff;
}
div#footer{
	background-color: #39aad1;
	font-family: "Meiryo UI";
	color: #ffffff;
	padding: 1% 3% 6% 3%;
	margin-top: 12%;
}
ul#footter-gn1{
	width: 70%;
	padding: 0px;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 0px;
	font-size: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	float: left;
}
ul#footter-gn1 li{
	list-style: none;
	margin-left: 7%;
}
ul#footter-gn1 li a{
	text-decoration: none;
	color: #ffffff;
}
ul#footter-gn2{
	width: 70%;
	padding: 0px;
	margin-top: 1%;
	margin-bottom: 0px;
	margin-left: 1%;
	font-size: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	float: left;
}
ul#footter-gn2 li{
	list-style: none;
	margin-left: 7%;
}
ul#footter-gn2 li a{
	text-decoration: none;
	color: #ffffff;
}
.fl{
	float: left;
	margin-top: 0.5%;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.ml3{
	margin-left: 3%;
}
.fs25{
	font-size: 25px;
}
.fs15{
	font-size: 15px;
}
.fs14v{
	font-size: 1.4vw;
}
.mtb0{
	margin-top: 0%;
	margin-bottom: 0%;
}
.center{
	text-align: center;
}
hr{
	border-top: 1px solid #e0e0e0;
}
.td a{
	text-decoration: none;
	color: #FFFFFF;
}
#wrapper .flow{
	padding: 0 10%;
	background-color: #f2f2f2;
	width: 80%;
}
.pt3{
	padding-top: 3%;
}

@media only screen and (max-width: 1200px){

ul#globalnav{
	display: none;
}
div#ham{
	display: block;
}
.btn {
    display: block;
    width:10%;
    height: 10%;
    position: fixed;
    top:0;
    right:0;
    cursor: pointer;
    z-index: 200;
}
.peke {
    background-position: -35px 0;
}
.drawr {
    display: none;
    background-color:#FFFFFF;
    position: fixed;
    top: 0px;
    right:0;
    width:260px;
    height: 100%;
    padding: 50px 0 20px 0px;
    z-index: 100;
}
#menu li {
	list-style: none;
    width:260px;
}
#menu li a {
    color:#000000;
    display: block;
    padding: 10px;
    text-decoration: none;
}
ul#footter-gn1{
	font-size: 13px;
}
ul#footter-gn2{
	font-size: 13px;
}

}

@media only screen and (max-width: 1035px){

ul#footter-gn1{
	width: 100%;
	margin-left: 0px;
	margin-top: 3%;
	font-size: 14px;
}
ul#footter-gn2{
	width: 100%;
	margin-left: 0px;
	font-size: 14px;
}
ul#footter-gn1 li{
	margin-left: 0px;
	margin-right: 7%;
}
ul#footter-gn2 li{
	margin-left: 0px;
	margin-right: 7%;
}
}

@media only screen and (max-width: 791px){

ul#footter-gn1{
	display: block;
	font-size: 18px;
}
ul#footter-gn2{
	display: block;
	font-size: 18px;
}
ul#footter-gn1 li{
	margin-top: 3%;
}
ul#footter-gn2 li{
	margin-top: 3%;
}
.fs25{
	font-size: 20px;
}
.fs15{
	font-size: 10px;
}
}