body{
	margin: 0px;
	font-family: sans-serif,"HG明朝E",Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho",serif;
}
div#wrapper{
	width: 100%;
	margin:0px;
	background-color: #FFFFFF;
}
img{
	width: 100%;
}
.logo{
	width: 33%;
	position: absolute;
	top: 2%;
	left: 3%;
}
.mv{
	position: relative;
}
.tb{
	position: absolute;
	width: 20%;
	top: 65%;
	left: 40%;
}
.mt12{
	margin-top: 12%
}
.mb12{
	margin-bottom: 12%;
}
.mt05{
	margin-top: -5px;
}
.ml7{
	margin-left: 7%;
}
div#contents{
	width: 80%;
	margin: 0 10%;
}
div#ham-menu{
	display: none;
}
ul#globalnav{
	width: 60%;
	padding: 0px;
	font-size: 1.2vw;
	display: flex;
	position: absolute;
	top: 5%;
	left: 40%;
}
ul#globalnav li{
	list-style: none;
	margin-left: 4%;
}
ul#globalnav li a{
	text-decoration: none;
	color: #ffffff;
}
div#footer{
	background-color: #39aad1;
	font-family: "Meiryo UI";
	color: #ffffff;
	padding: 1% 3% 6% 3%;
	margin-top: 12%;
}
ul#footter-gn1{
	width: 70%;
	padding: 0px;
	margin-top: 0.1%;
	margin-bottom: 0px;
	font-size: 15px;
	display: flex;
	float: left;
	font-size: 1.2vw;
}
ul#footter-gn1 li{
	list-style: none;
	margin-left: 7%;
}
ul#footter-gn1 li a{
	text-decoration: none;
	color: #ffffff;
}
ul#footter-gn2{
	width: 70%;
	padding: 0px;
	margin-top: 1%;
	margin-bottom: 0px;
	font-size: 15px;
	display: flex;
	float: left;
	font-size: 1.2vw;
}
ul#footter-gn2 li{
	list-style: none;
	margin-left: 7%;
}
ul#footter-gn2 li a{
	text-decoration: none;
	color: #ffffff;
}
.fl{
	float: left;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.ml3{
	margin-left: 3%;
}
.fs25{
	font-size: 25px;
}
.fs15{
	font-size: 15px;
}
.fs14v{
	font-size: 1.4vw;
}
.mtb0{
	margin-top: 0%;
	margin-bottom: 0%;
}
.center{
	text-align: center;
}
hr{
	border-top: 1px solid #e0e0e0;
}
.td a{
	text-decoration: none;
	color: #FFFFFF;
}

@media only screen and (max-width: 1200px){

ul#globalnav{
	display: none;
}
div#ham-menu{
	display: block;
	background-color: #ffffff; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内部上下左右余白*/
    position: fixed;
    right: -260px; /*メニュー横幅①と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 260px; /*メニュー横幅①*/
    z-index: 1000;
}
div#ham-menu::before {
	background-color: #ffffff; /*ボタン部分背景色*/
	color: #333; /*アイコン（フォント）色*/
	content: "≡"; /*メニューアイコン*/
	display: block;
	font-size: 50px; /*アイコン（フォント）サイズ*/
	height: 50px;
	line-height: 50px; /*縦位置中央化*/
	position: absolute;
	right: 100%;
	text-align: center;
	top: 0px;
	width: 50px;
}
div#menu-background {
	background-color: #333; /*黒背景部分背景色*/
	display: none;
	height: 100%;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
	width: 100%;
	z-index: -1;
}
div#ham-menu:hover {
    transform: translate(-250px); /*メニュー横幅①と合わせる*/
}
#ham-menu:hover + #menu-background {
    opacity: 0.5; /*黒背景部分透過度*/
    z-index: 999;
    display: block;
}
div#ham-menu a{
	text-decoration: none;
	color: #808080;
}
ul#footter-gn1{
	display: none;
}
ul#footter-gn2{
	display: none;
}
}

@media only screen and (max-width: 450px){

.fs25{
	font-size: 20px;
}
.fs15{
	font-size: 10px;
}
}